.page-header span{
	color: #777;
	font-weight: normal;
	font-size: 11px;
}

.valuation-block{
	text-align: center;
	font-size: 12px;
	color: #222;
}
.valuation-block table{
	margin:  10px auto 30px auto;
}

.valuation-block table tr td, .valuation-block table tr th{
	text-align: center;
}

/* cake-breadcrumb */

.breadcrumb{
	color: #777;
	background-color: transparent;
	font-size: 11px;
	margin-bottom: 0px;
	padding: 4px;
}

/*
.table-question tbody tr td{
	text-align: center;
}
.table-question tbody tr td:nth-child(1){
	text-align: left;
}

*/
tr.td-question td{

}

tr.td-subtitle td:nth-child(1){
	font-weight: bold;	
}

tr.td-sub-question td:nth-child(1){
	font-size: 0.98em;
	padding-left: 30px;
	font-style: italic;
}